{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block body %} 


<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/bird/cardinal-branch-songbird.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">cardinal</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:3000</h6>
     
         <a href="" class="btn mr-2">Details</a>
         <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/cockatoo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">cockatoo</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:6000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/flamingo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">flamingo</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:21000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/bird/Gouldian-Finch.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gouldian-Finch</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:18000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/hen.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hen</h5>
          <h6 class="card-subtitle mb-2 text-muted">RS:12000</h6>
          <a href="#" class="btn mr-2">Details</a>
          <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/Kea.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kea</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:14000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/bird/peacock-courtship-displays.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">peacock</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:15000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/piegon.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">piegon</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:12000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/Scarlet-macaw.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Scarlet Macaw</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:15000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/bird/torrent-duck.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">torrent-duck</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:8000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/toucan.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">toucan</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:18000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/bird/Western-tanager.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Western-tanager</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:2000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
  </div>
    </div>
</section>
{% endblock body %}