{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block body %} 


<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/cat/Asian-cat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Asian cat</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:3000</h6>
     
         <a href="" class="btn mr-2">Details</a>
         <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/Burmese.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Burmese</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:6000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/cat-Turkish-Van.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turkish</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:21000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/cat/Cornish-Rex-Van.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cornish</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:18000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/Himalayan-chocolate-point.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Himalayan</h5>
          <h6 class="card-subtitle mb-2 text-muted">RS:12000</h6>
          <a href="#" class="btn mr-2">Details</a>
          <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/Maine-Coon-Himalayan.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Maine-Coon-Himalayan</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:14000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/cat/Margay.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Margay</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:15000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/Pallas-cat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pallas-cat</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:12000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/Pampas-cat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pampas-cat</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:5000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/cat/Scottish-fold-cat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Scottish cat</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:8000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/Siamese-seal-point.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Siamese</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:18000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/cat/Wildcat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Wildcat</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:2000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
  </div>
    </div>
</section>
{% endblock body %}