{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block body %} 


<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/dogs/German-Shepherd-dog-Alsatian.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">German Shepherd</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:25000</h6>
     
         <a href="static/dogs/German-Shepherd-dog-Alsatian.jpeg" class="btn mr-2">Details</a>
         <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/retriever-puppies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Golden Retriever</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:18000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/English-bulldog-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bulldog</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:21000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/dogs/Boxer-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boxer</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:18000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/beagle-hound-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beagle</h5>
          <h6 class="card-subtitle mb-2 text-muted">RS:12000</h6>
          <a href="#" class="btn mr-2">Details</a>
          <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/labrador-retriever-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Labrador dog</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:14000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/dogs/Rottweiler-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rottwelier</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:15000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/Doberman-pinscher-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dobermann</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:12000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/Pomeranian-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pomerian</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:5000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="static/dogs/Pug-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pug</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:8000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/Shih-tzu-dog.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">shih Tzu</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:18000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="static/dogs/greyhound-dogs-sighthound.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Grey Hound</h5>
      <h6 class="card-subtitle mb-2 text-muted">RS:21000</h6>
      <a href="#" class="btn mr-2">Details</a>
      <a href="/contact" class="btn ">Buy</a>
    </div>
    </div>
    </div>
  </div>
    </div>
</section>
{% endblock body %}