{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block body %}
<img id="img1" src='/static/banner.jpg' style="  position: absolute; height: 100vh; top: 0px; width: 100%;z-index: -1;">
    <div class="heading">
<h1 class="heading1">
    PETS
</h1>
<p class="para">
    All Type Of Pet Availabe Here, Dogs Cats And Birds
        for More Information Check This Website
            Buy Pets And Make New Friends
    </P>
    
</div><div class="wrapper1" style="z-index: 4;">
    <a class="text1 " href="/services">Buy Now!</a>
  </div>
{% endblock body %}