{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block body %}
 <section>
<img id="service" src="static/service.png" alt="">
  <div style="margin-top: -100vh;" class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="static/dogs/German-Shepherd-dog-Alsatian.jpeg" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">DOG BREED</h5>
        <p class="card-text">Check the variety type of dog all you find Here click below button to check out the Price.</p>
       <a href="/dog" class="btn btn-outline-success btn-lg">CHECK</a>
       
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="static/cat/cat-Turkish-Van.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">CAT BREED</h5>
        <p class="card-text">Check the variety type of caT all you find Here.click below button to check out the Price.</p>
       <a href="/cat" class="btn btn-outline-success btn-lg">CHECK</a>
        
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="static/bird/Kea.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">BIRD</h5>
        <p class="card-text">Check the variety type of Bird all you find Here.click below button to check out the Price.</p>
       <a href="/bird" class="btn btn-outline-success btn-lg">CHECK</a>
        
      </div>
     </div>
    </div>
  </div>
</div>
</section>

<!-- </section> -->
{% endblock body %}

